body{
	padding:0px;
	background-image: url(../images/bodybg.gif);

}
#header{
	background-image: url(../images/头.jpg);
	height: 205px;
}
#banner1{
	float: left;
}

#nav{
	background-image: url(../images/nav.jpg);
	height: 40px;
}
.nav-body{
	width: 1000px;
	 margin: 0 auto;
}
.nav-content{
	width: 800px;
	font-weight: 800;
	line-height: 40px;
	float: left;
	font-size: 17px;
}
.nav-content a{
	color: #fff;
}
#header a:hover{
	opacity: 0.5;
}
a{
	text-decoration: none;
}
a:hover{
text-decoration: none;
color: #f9f603;
}

.nav-search{
	float: left;


	background-color:#f8f5ee;
	margin: 10px;
	position: relative;
}
.button{
	width: 44px;
	height: 21px;
	background: #000;
	color: #fff;
	border-width: 1px;
	border-color: #f8f5ee;
	position: absolute;
	left: 152px;
	top: 1px;
}
.zhu{
	width: 1000px;
	margin: 0 auto;
	margin-top: 50px;
}
.zuo{
	color: red;
	font-size: 20px;
	float: left;
	width: 300px;
}
li{
	list-style-type: none;
}
#liebiao a{
	color: #000;
}
#liebiao a:hover{
	color: red;
	text-decoration: underline;
}
#liebiao{
	line-height: 30px;
}
.zuo2{
	float: left;
}
.tuijian{
	color: #000;
	text-indent: 2em;
	font-weight: bold;
}
.you{
	float: left;
	position: relative;left:100px;
	line-height: 30px;
}
.rongyu{
	color:red;
	font-size: 20px;
	height: 50px;
    width: 500px;
}
.you a{
	color: #000;
}
#footer{
	height: 105px;
	float: left;
	width: 100%;
	text-align: center;
	margin-top: 50px;
}
.ds li{
	display: inline-block;
	list-style-type: none;
}
.ds li a{
	color:#333333;
}